/* Colors */

:root {
	--box-background: #eef;
	--box-border: black;
	--info-hue : 200;
}

body {
	margin: 0px;
}

#petscii_table td {
    vertical-align: top;
}

#charset_table > table,
#petscii_table > table {
	border-collapse: collapse;
}

#charset_table > table,
#charset_table > table th,
#charset_table > table td,
#petscii_table > table, 
#petscii_table > table th, 
#petscii_table > table td {
	border: solid black 1px;
}

/* Tabs */ 

#screencode_overview,
#petscii_overview {
	background: #888;
	padding: 10px 10px 10px 10px;
}

#screencode_overview,
#petscii_overview,
#keyboard_overview,
nav {
	margin-left: 10px;
}

/* Character Tables */

/* via https://www.mediaevent.de/tutorial/css-tabs.html */

#tab_screencode:checked ~ div.screencode_group,
#tab_petscii:checked ~ div.petscii_group,
#tab_keyboard:checked ~ div.keyboard_group {
	display: inline-block;
}


/* Tabs mit radio-Buttons */
.tabbed {
	display: inline-block;
	min-width: 1170px;
}

.tabbed figure { 
	display: block;
	background: var(--box-background);
	border: solid 1px var(--box-border);
	border-width: 1px 0px 1px 1px;
	margin: 0px;
	padding: 10px 20px;
	clear: none;
	width: auto;
}

.tabbed input#tab_screencode,
.tabbed input#tab_petscii,
.tabbed input#tab_keyboard,
.tabbed figure > div {
	display: none;
}

.tabbed figure > div {
/*	border: 1px solid var(--box-border); */
	padding: 0px;
	margin: 10px 0px;
}

.tabbed figure > div.info_container {	
	display: inline-block;
	vertical-align: top;
	float: left;
}

.info_container {
	background: lightgray;
	border: 1px solid var(--box-border);
}

.info_container > div {
	display: inline-block;
	margin: 1em;
}

#machine_selection {
}

#charset_selection {
	float: right;
}


/* Info Box */

#info_box:empty {
	display: none;
}


#info_box {
	padding: 0em;
	margin: 1em;
	display: block;
	background: var(--box-background);
	border: 1px solid gray;
}


/* Character Tables: Navigation Styling */

nav {
	display: inline-block;
}
nav label {
	display: inline-block;
	padding: 15px;
	border-top: 1px solid var(--box-border);
	border-right: 1px solid	 var(--box-border);
	background: hsl(210,0%,70%);
	color: hsl(210,0%,30%);
	text-align: center;
	width: 8em;
}

nav label:nth-child(1) { border-left: 1px solid var(--box-border); }
nav label:hover {
	background: hsl(210, 0%, 60%);
	color: black;
}
nav label:active {
	background: hsl(210, 0%, 80%);
	color: black;
	font-weight: bold;
}

#tab_screencode:checked ~ nav label[for="tab_screencode"],
#tab_petscii:checked ~ nav label[for="tab_petscii"],
#tab_keyboard:checked ~ nav label[for="tab_keyboard"] {
	background: var(--box-background);
	color: black;
	position: relative;
	border-bottom: none;
	font-weight: bold;
}

#tab_screencode:checked ~ nav label[for="tab_screencode"]:after,
#tab_petscii:checked ~ nav label[for="tab_petscii"]:after, 
#tab_keyboard:checked ~ nav label[for="tab_keyboard"]:after {
	content: "";
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: var(--box-background);
	left: 0;
	bottom: -2px;
}




/* Character Boxes */

.char-box {
	position: relative;
	border: solid 4px #0000;
	display: inline-block;
	margin: -3px;
	padding: 0px;
	height: 32px;
	width: 32px;
	z-index: 19;
}

.highlighted {
	border-color: yellow;
}

.char-img {
	transform-origin: 0% 0%;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 8px;
	height: 8px;

	background-repeat: no-repeat;
	z-index: 20;
}


.scrcode-image .char-box {
	height: 64px;
	width: 64px;
}

.scrcode-image .char-img {
	transform: scale(8);
}

.char-txt {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	z-index: 21;
}

.char-txt div {
	border: solid 1px;
	margin: -1px;

	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100%;
	
	color: white;
	text-shadow: 1px 1px black;
	font-weight: bold;
	font-size: xx-small;
	vertical-align: middle;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
  
	overflow: hidden;
	white-space: normal;
	text-overflow: clip;
}

/* */

#charset_table, 
#charset_compare_table {
}
.char-box128 {
	position: relative;
	padding:0px;
	height: 8px;
	width: 1024px;
}


.char-img128 {
	transform-origin: 0% 0%;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 8px;

	background-repeat: no-repeat;
	z-index: 20;

	margin:0px;
	padding:0px;
	border: 0px;
}

/* Info Box Grid */

.grid-container {
	display: grid;
	grid-template-columns: 10em 15em;
	grid-gap: 0px;
	background-color: hsl(var(--info-hue), 80%, 80%);
}

.grid-container > div {
	padding: 4px;
}

.scrcode-image,
.scrcode-title,
.scrcode-description {
	background-color: hsl(var(--info-hue), 100%, 70%);
	border-right: 1px solid gray;
}

.petscii-title,
.petscii-description {
	background-color: hsl(var(--info-hue), 100%, 75%);
	border-right: 1px solid gray;
}

.unicode-image,
.unicode-title,
.unicode-description,
.control-title,
.control-description {
	background-color: hsl(var(--info-hue), 100%, 90%);
}

.additional-info {
	background-color: hsl(var(--info-hue), 100%, 80%);
	border-top: 1px solid gray;

	grid-row: 4;
	grid-column: 1 / span 2;
}

.info-title {
	font-weight: bold;
	text-align: left;
	text-decoration: underline;
}

.scrcode-image {
	grid-row: 1;
	grid-column: 1;
	text-align: center;
	vertical-align: middle;
}

.scrcode-title {
	grid-row:2;
	grid-column: 1;
}

.scrcode-description {
	grid-row: 3;
	grid-column: 1;
}


.unicode-image {
	grid-row: 1;
	grid-column: 2;
	text-align: center;
	vertical-align: middle;
}

.unicode-title {
	grid-row: 2;
	grid-column: 2;
}

.unicode-description {
	grid-row: 3;
	grid-column: 2;
}


.petscii-title {
	grid-row:2;
	grid-column: 1;
}

.petscii-description {
	grid-row: 3;
	grid-column: 1;
}

.control-title {
	grid-row:1;
	grid-column: 2;
	display: flex; 
	justify-content: flex-start; 
	align-items: flex-end;
}

.control-description {
	grid-row: 2 / span 4;
	grid-column: 2;
}

.petscii_boxes .scrcode-title {
	grid-row:4;
	grid-column: 1;
}

.petscii_boxes .scrcode-description {
	grid-row: 5;
	grid-column: 1;
}

.petscii_boxes .unicode-description {
	grid-row: 3 / span 3;
	grid-column: 2;
}

.petscii_boxes .additional-info {
	grid-row: 6;
	grid-column: 1 / span 2;
}


.additional-info table {
	width: 100%;
	border: none;
	border-collapse: collapse;
	border-spacing: 1px;
	margin: 0px;
}

.additional-info table th {
	background-color: hsl(var(--info-hue), 60%, 80%);
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.additional-info table tr:nth-child(even) td {
	background-color: hsl(var(--info-hue), 100%, 80%);
}

.additional-info table th, .additional-info table td {
	border: solid 1px gray;
	padding: 4px;
}

.additional-info table tr td:nth-child(1),
.additional-info table tr td:nth-child(2) {
	width: 10%;
}

.additional-info table tr td:nth-child(4) {
	width: 20%;
}



/* Visual Keys */

#info_box span.unicode-box {
	font-size: 3em;
	font-weight: 900;
}

span.unicode-box {
	display: inline-block;
	background-color: white;
	color: black;
	border: 2px solid dimgray;
	border-radius: 2px;
	padding: 1px;
	margin: 2px;
	font-family: monospace;
	font-size: larger;
	font-weight: bolder;
	white-space: pre;
}


span.key-box {
	display: inline-block;
	background-color: black;
	color: white;
	border: 1px solid lightgray;
	border-radius: 4px;
	padding: 2px 8px;
	font-family: monospace;
}

div.key-box {
	margin: 4px 8px;
	text-align: left;
	white-space: nowrap;
}
 

/* Other */

#charset_table .header {
	background: #ccc;
	font-weight: bold;
}