/* Colors */

:root {
	--box-background: #eef;
	--box-border: black;
	--info-hue : 200;
}

body {
	margin: 4px;
}

#charset_table > table,
#petscii_table > table {
	border-collapse: collapse;
}

#charset_table > table,
#charset_table > table th,
#charset_table > table td,
#petscii_table > table, 
#petscii_table > table th, 
#petscii_table > table td {
	border: solid black 1px;
}


/* Character Tables */

/* via https://www.mediaevent.de/tutorial/css-tabs.html */

#tab_screencode:checked ~ figure .screencode_group,
#tab_petscii:checked ~ figure .petscii_group,
#tab_keyboard:checked ~ figure .keyboard_group {
	display: block;
}


/* Tabs mit radio-Buttons */
.tabbed {
	display: block;
}
.tabbed figure { 
	display: block;
	margin: 0px;
	clear: none;
}

.tabbed > input,
.tabbed figure > div {
	display: none;
}

.tabbed figure > div {
	background: var(--box-background);
	width: 100%;
	border: 1px solid var(--box-border);
	padding: 20px 0px 20px 15px;
	margin: 0px;
}

.info_container {
	float: right;
	background: lightgray;
	border: 1px solid var(--box-border);
}

.info_container > div {
	display: inline-block;
	margin: 1em;
}

#machine_selection {
	float: right;
}

#charset_selection {
}


/* Info Box */

#info_box:empty {
	display: none;
}


#info_box {
	padding: 0em;
	margin: 1em;
	display: block;
	background: var(--box-background);
	border: 1px solid gray;
	border-radius: 4px;
	overflow: hidden;
	vertical-align: top;
}


/* Character Tables: Navigation Styling */

nav label {
	display: inline-block;
	padding: 15px 15px;
	border-top: 1px solid var(--box-border);
	border-right: 1px solid  var(--box-border);
	background: hsl(210,0%,70%);
	color: hsl(210,0%,30%);
	text-align: center;
	width: 200px;
}

nav label:nth-child(1) { border-left: 1px solid var(--box-border); }
nav label:hover {
	background: hsl(210, 0%, 60%);
	color: black;
}
nav label:active {
	background: hsl(210, 0%, 80%);
	color: black;
	font-weight: bold;
}

#tab_screencode:checked ~ nav label[for="tab_screencode"],
#tab_petscii:checked ~ nav label[for="tab_petscii"],
#tab_keyboard:checked ~ nav label[for="tab_keyboard"] {
	background: var(--box-background);
	color: black;
	position: relative;
	border-bottom: none;
	font-weight: bold;
}

#tab_screencode:checked ~ nav label[for="tab_screencode"]:after,
#tab_petscii:checked ~ nav label[for="tab_petscii"]:after, 
#tab_keyboard:checked ~ nav label[for="tab_keyboard"]:after {
	content: "";
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: var(--box-background);
	left: 0;
	bottom: -1px;
}




/* Character Boxes */


.char-box {
	border: solid 4px #0000;
    display: inline-block;
    margin: -3px;
    padding:0px;
    height: 32px;
    width: 32px;
}

.char-box128 {
    display: inline-block;
    padding:0px;
    height: 8px;
    width: 1024px;
}

.highlighted {
	border-color: yellow;
}

.char-img {
    position: relative;
    background-repeat: no-repeat;
    transform-origin: 0% 0%;
    height: 8px;
    width: 8px;
    margin:0px;
    padding:0px;
    border: 0px;
    display: block;
    z-index: 20;
}

.char-img128 {
    position: relative;
    background-repeat: no-repeat;
    transform-origin: 0% 0%;
    height: 8px;
    width: 1024px;
    margin:0px;
    padding:0px;
    border: 0px;
    display: block;
    image-rendering: pixelated;
    z-index: 20;
}

.char-txt {
    position: relative;
    margin:0px;
    padding:0px;
    height: 32px;
    width: 32px;
    top: -9px;
    left: -1px;
    z-index: 21;
    background-color: #0008;
    border: 1px solid #0008;
    display: block;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
	color: white;
	text-shadow: 1px 1px black;
	font-weight: bold;
	font-size: xx-small;
	vertical-align: top;
	text-align: center;
}


/* Info Box Grid */

.grid-container {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-gap: 0px;
	background-color: hsl(var(--info-hue), 80%, 80%);
}

.grid-container > div {
	padding: 4px;
}

.scrcode-image,
.scrcode-title,
.scrcode-description {
	background-color: hsl(var(--info-hue), 100%, 70%);
	border-right: 1px solid gray;
}

.petscii-title,
.petscii-description {
	background-color: hsl(var(--info-hue), 100%, 75%);
	border-right: 1px solid gray;
}

.unicode-image,
.unicode-title,
.unicode-description,
.control-title,
.control-description {
	background-color: hsl(var(--info-hue), 100%, 90%);
}

.additional-info {
	background-color: hsl(var(--info-hue), 100%, 80%);
	border-top: 1px solid gray;

	grid-row: 4;
	grid-column: 1 / span 4;
}

.info-title {
	font-weight: bold;
	text-align: left;
	text-decoration: underline;
}

.scrcode-image {
	grid-row: 1;
	grid-column: 1;
	text-align: center;
	vertical-align: middle;
}

.scrcode-title {
	grid-row:2;
	grid-column: 1;
}

.scrcode-description {
	grid-row: 3;
	grid-column: 1;
}


.unicode-image {
	grid-row: 1;
	grid-column: 2;
	text-align: center;
	vertical-align: middle;
}

.unicode-title {
	grid-row: 2;
	grid-column: 2;
}

.unicode-description {
	grid-row: 3;
	grid-column: 2;
}


.petscii-title {
	grid-row:2;
	grid-column: 1;
}

.petscii-description {
	grid-row: 3;
	grid-column: 1;
}

.control-title {
	grid-row:1;
	grid-column: 2;
	display: flex; 
	justify-content: flex-start; 
	align-items: flex-end;
}

.control-description {
	grid-row: 2 / span 4;
	grid-column: 2;
}

.petscii_boxes .scrcode-title {
	grid-row:4;
	grid-column: 1;
}

.petscii_boxes .scrcode-description {
	grid-row: 5;
	grid-column: 1;
}

.petscii_boxes .unicode-description {
	grid-row: 3 / span 3;
	grid-column: 2;
}

.petscii_boxes .additional-info {
	grid-row: 6;
	grid-column: 1 / span 2;
}


.additional-info table {
	width: 100%;
	border: none;
	border-collapse: collapse;
	border-spacing: 1px;
	margin: 0px;
}

.additional-info table th {
	background-color: hsl(var(--info-hue), 60%, 80%);
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.additional-info table tr:nth-child(even) td {
	background-color: hsl(var(--info-hue), 100%, 80%);
}

.additional-info table th, .additional-info table td {
	border: solid 1px gray;
	padding: 4px;
}

.additional-info table tr td:nth-child(1),
.additional-info table tr td:nth-child(2) {
	width: 10%;
}

.additional-info table tr td:nth-child(4) {
	width: 20%;
}



/* Visual Keys */

span.unicode-box {
    background-color: lightgray;
    color: black;
    border: 2px solid dimgray;
    border-radius: 1px;
    padding: 1px;
    margin: 0px;
}


span.key-box {
    background-color: black;
    color: white;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 2px 8px;
}

div.key-box {
    font-family: monospace;
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
}
 
