
/* Colors */

:root {
	--main-background: #e0f0ff;
	--main-color: #004080;

	--title-color-1: #017100;
	--title-color-2: #004D7F;
	--title-color-3: #99195E;
	--title-color-4: #F8BA00;
	--title-color-5: #B51700;
	--title-color-6: #017B76;
	--title-color-7: #595959;
	--title-color-8: #595959;

	--dark-color-1: #D8F2CB;
	--dark-color-2: #C6E2FC;
	--dark-color-3: #BFB7E8;
	--dark-color-4: #FCF6CD;
	--dark-color-5: #F4D2E3;
	--dark-color-6: #D2F6F0;
	--dark-color-7: #E0E0E0;
	--dark-color-8: #E0E0E0;

	--light-color-1: #E5F2DF;
	--light-color-2: #E3F0FC;
	--light-color-3: #D5D1E8;
	--light-color-4: #FCFAE6;
	--light-color-5: #F5E4EC;
	--light-color-6: #E1F5F2;
	--light-color-7: #EDEDED;
	--light-color-8: #EDEDED;
}


/* Overview Table: Multicolor */

table.checkbox_table tr:nth-of-type(1) { background: var(--light-color-1); }
table.checkbox_table tr:nth-of-type(1) td:nth-of-type(2) { background: var(--title-color-1);}

table.checkbox_table tr:nth-of-type(2) { background: var(--light-color-2); }
table.checkbox_table tr:nth-of-type(2) td:nth-of-type(2) { background: var(--title-color-2); }

table.checkbox_table tr:nth-of-type(3) { background: var(--light-color-3); }
table.checkbox_table tr:nth-of-type(3) td:nth-of-type(2) { background: var(--title-color-3); }

table.checkbox_table tr:nth-of-type(4) { background: var(--light-color-4); }
table.checkbox_table tr:nth-of-type(4) td:nth-of-type(2) { background: var(--title-color-4); }

table.checkbox_table tr:nth-of-type(5) { background: var(--light-color-5); }
table.checkbox_table tr:nth-of-type(5) td:nth-of-type(2) { background: var(--title-color-5); }

table.checkbox_table tr:nth-of-type(6) { background: var(--light-color-6); }
table.checkbox_table tr:nth-of-type(6) td:nth-of-type(2) { background: var(--title-color-6); }

table.checkbox_table tr:nth-of-type(7) { background: var(--light-color-7); }
table.checkbox_table tr:nth-of-type(7) td:nth-of-type(2) { background: var(--title-color-7); }

table.checkbox_table tr:nth-of-type(8) { background: var(--light-color-8); }
table.checkbox_table tr:nth-of-type(8) td:nth-of-type(2) { background: var(--title-color-8); }


/* Main Table */

table.disassembly_table th.top_row {
    color: var(--main-background);
    border-width: 1px;
}

table.disassembly_table tr {
    background: #f0f0f0;
}

table.disassembly_table tr:nth-child(even) {
    background: #ffffff;
}

/* Main Table: Multicolor */

table.disassembly_table th:nth-child(1 of .top_row) { background: var(--title-color-1); }
table.disassembly_table th:nth-child(2 of .top_row) { background: var(--title-color-2); }
table.disassembly_table th:nth-child(3 of .top_row) { background: var(--title-color-3); }
table.disassembly_table th:nth-child(4 of .top_row) { background: var(--title-color-4); }
table.disassembly_table th:nth-child(5 of .top_row) { background: var(--title-color-5); }
table.disassembly_table th:nth-child(6 of .top_row) { background: var(--title-color-6); }
table.disassembly_table th:nth-child(7 of .top_row) { background: var(--title-color-7); }
table.disassembly_table th:nth-child(8 of .top_row) { background: var(--title-color-8); }


table.disassembly_table tr td:nth-of-type(1) { background: var(--dark-color-1); }
table.disassembly_table tr:nth-child(even) td:nth-of-type(1) { background: var(--light-color-1); }

table.disassembly_table tr td:nth-of-type(2) { background: var(--dark-color-2); }
table.disassembly_table tr:nth-child(even) td:nth-of-type(2) { background: var(--light-color-2); }

table.disassembly_table tr td:nth-of-type(3) { background: var(--dark-color-3); }
table.disassembly_table tr:nth-child(even) td:nth-of-type(3) { background: var(--light-color-3); }

table.disassembly_table tr td:nth-of-type(4) { background: var(--dark-color-4); }
table.disassembly_table tr:nth-child(even) td:nth-of-type(4) { background: var(--light-color-4); }

table.disassembly_table tr td:nth-of-type(5) { background: var(--dark-color-5); }
table.disassembly_table tr:nth-child(even) td:nth-of-type(5) { background: var(--light-color-5); }

table.disassembly_table tr td:nth-of-type(6) { background: var(--dark-color-6); }
table.disassembly_table tr:nth-child(even) td:nth-of-type(6) { background: var(--light-color-6); }

table.disassembly_table tr td:nth-of-type(7) { background: var(--dark-color-7); }
table.disassembly_table tr:nth-child(even) td:nth-of-type(7) { background: var(--light-color-7); }

table.disassembly_table tr td:nth-of-type(8) { background: var(--dark-color-8); }
table.disassembly_table tr:nth-child(even) td:nth-of-type(8) { background: var(--light-color-8); }

