
/* Colors */

:root {
    --cat-color-io: #56C1FF;
    --cat-color-clk: #73FDEA;
    --cat-color-editor: #88FA4E;
    --cat-color-time: #73FDEA;
    --cat-color-ieee: #FFFC66;
    --cat-color-kbd: #FF968D;
    --cat-color-mem: #FF8DC6;
    --cat-color-sys: #D5D5D5;
}

